BOT_TOKEN=
GITLAB_WEBHOOK_SECRET=
GITLAB_URL=
GITLAB_API_TOKEN=

PORT=3000

PROJECT_NAME_CONFIG_JSON='{
	"repositories":[],
	"linkToJira":null,
	"chats":[
		{
			"chat_id":0,
			"userNames":
				{
					"developers":[],
					"managers":[]
				},
			"targetBuilds":null
		}
	]
}'
